<!DOCTYPE html>
<header class="header text-center">
  <h1 class="blog-name pt-lg-4 mb-0"><a href="#home">Sean Mandable</a></h1>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navigation"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="navigation"
      class="collapse navbar-collapse flex-column"
      [ngbCollapse]="isMenuCollapsed"
    >
      <div class="profile-section pt-3 pt-lg-0">
        <img
          class="profile-image mb-3 mx-auto"
          src="../assets/img/profile-sm.png"
          alt="Profile picture"
        />
        <div class="bio mb-3">
          Hello. My name is Sean Mandable and I&rsquo;m a senior software
          engineer currently residing in Connecticut. Welcome to my personal
          website!
        </div>
        <!--//bio-->
        <ul class="social-list list-inline py-3 mx-auto">
          <li class="list-inline-item">
            <a
              href="https://www.linkedin.com/in/sean-mandable-2190206/"
              target="_blank"
              ><i class="fab fa-linkedin-in fa-fw"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.github.com/smandable" target="_blank"
              ><i class="fab fa-github-alt fa-fw"></i
            ></a>
          </li>
        </ul>
        <!--//social-list-->
        <hr />
      </div>
      <!--//profile-section-->

      <ul class="navbar-nav flex-column text-left">
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            [routerLink]="'./'"
            (click)="isMenuCollapsed = true"
            ><i class="fas fa-user fa-fw mr-2"></i>About Me</a
          >
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            [routerLink]="'./resume'"
            (click)="isMenuCollapsed = true"
            ><i class="fas fa-file-alt fa-fw mr-2"></i>Resume</a
          >
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            [routerLink]="'./contact'"
            (click)="isMenuCollapsed = true"
            ><i class="fas fa-envelope-open-text fa-fw mr-2"></i>Contact Me</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
