<!DOCTYPE html>
<header class="header text-center">
  <h1 class="blog-name pt-lg-4 mb-0"><a href="#home">Sean Mandable</a></h1>

  <nav class="navbar navbar-expand-lg navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation" class="collapse navbar-collapse flex-column">
      <div class="profile-section pt-3 pt-lg-0">
        <img class="profile-image mb-3 mx-auto" src="../assets/img/profile-sm.png"
          alt="Profile picture">

        <div class="bio mb-3">Hello. My name is Sean Mandable and I&rsquo;m a senior software engineer currently residing in Connecticut. Welcome to my personal website!
            <!-- <br><a
            href="about.html">Find out more about me</a> -->
        </div>
        <!--//bio-->
        <ul class="social-list list-inline py-3 mx-auto">
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
        </ul>
        <!--//social-list-->
        <hr>
      </div>
      <!--//profile-section-->

      <ul class="navbar-nav flex-column text-left">
        <!-- <li class="nav-item active">
          <a class="nav-link js-scroll-trigger" href="home"><i class="fas fa-home fa-fw mr-2"></i>Home<span
              class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link js-scroll-trigger" href="#home"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="portfolio"><i class="fas fa-laptop-code fa-fw mr-2"></i>Portfolio</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#resume"><i class="fas fa-file-alt fa-fw mr-2"></i>Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact"><i class="fas fa-envelope-open-text fa-fw mr-2"></i>Contact
            Me</a>
        </li>

      </ul>

    </div>
  </nav>
</header>
