@import '_variables.scss';

i+div {
  display: inline-block;
  font-size: x-large;
}
.fa-phone, .fa-envelope, a {
  display: inline-block;
}
.col-lg-9 div {
  display: inline-block;
  white-space: nowrap;
}

.col-lg-8.mt-5 {

  a {
    font-size: 1.4rem;
  }

}
