<!DOCTYPE html>
<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
        <h1 class="mt-0">Contact Me!</h1>
        <hr class="divider my-4">
        <p class="text-muted">Ready to work together? Give me a call or send me an email and I&rsquo;ll get back to you as soon as possible!</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mt-3">
        <!-- <form action="/html/tags/html_form_tag_action.cfm"> -->
        <form (ngsubmit)="processForm()">
          <div class="form-row">
            <div class="col-md-6 mt-3">
              <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="name" required minlength="3" #nameInput="ngModel">
            </div>
            <div class="col-md-6 mt-3">
              <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email" required email #emailInput="ngModel">
            </div>
          </div>
          <!-- <div class="form-row">
            <div class="col-md-6 mt-3">
              <input type="text" class="form-control" placeholder="Company" name="company" [(ngModel)]="company">
            </div>
            <div class="col-md-6 mt-3">
              <input type="text" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="phone">
            </div>
          </div> -->
          <div class="form-row mt-3">
            <div class="col">
              <textarea rows="5" class="form-control" placeholder="Message" name="message" [(ngModel)]="message" required #messageInput="ngModel"></textarea>
            </div>
          </div>

          <div class="form-row mt-3">
            <div class="col text-center mt-1">
              <button type="submit" class="btn btn-primary btn-block">Send</button>
            </div>
          </div>
        </form>
        <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
          Name is required and needs to be at least 3 characters long.
        </div>
        <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
          Email is required.
        </div>
        <div class="help is-error" *ngIf="messageInput.invalid && messageInput.dirty">
          Messsage is required.
        </div>
      </div>
    </div>
    <div class="justify-content-center row">
      <div class="col-lg-9 mt-5">
        <div class="col-md-6 mb-4 pl-0 text-left">
          <i class="fas fa-phone fa-2x mr-3 text-muted"></i>
          <div><a href="tel:2034453720">(203) 590-0767</a></div>
        </div>
        <div class="col-md-6 px-0 text-left">
          <i class="fa-2x fa-envelope fas mr-3 text-muted"></i>
          <div><a href="mailto:sean@seanmandable.me">sean@seanmandable.me</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
