@import '../../src/sass/variables';
@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

section#contact {
  height: 70vh;
}

i + div {
  display: inline-block;
  font-size: x-large;
}

.col-lg-9 div {
  display: inline-block;
  white-space: nowrap;
}
