<!DOCTYPE html>
<div class="main-wrapper">

  <!-- <section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
      <h2 class="heading">Portfolio</h2> -->
  <!-- <div class="intro">
        <p>Welcome to my online portfolio. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor. I'm taking on freelance work at the moment. Want some help building your software?</p>

      </div> -->
  <!-- <a class="btn btn-primary" href="contact.html" target="_blank"><svg
          class="svg-inline--fa fa-paper-plane fa-w-16 mr-2" aria-hidden="true" focusable="false" data-prefix="fas"
          data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
          <path fill="currentColor"
            d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z">
          </path>
        </svg>-->
  <!-- <i class="fas fa-paper-plane mr-2"></i>Hire Me</a> -->


  <!-- </div> -->
  <!--//container-->
  <!-- </section> -->

  <section id="portfolio" class="page-section">
    <div class="container-fluid">
      <h1 class="text-center mt-0">Portfolio</h1>
      <hr class="divider my-4 text-white">

      <div class="row no-gutters">
        <div class="justify-content-center row">
          <div class="col-md-11">
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="../assets/img/portfolio/NAP/NAP_550x212.jpg" alt="North American Power">
                <div class="card-body">
                  <h5 class="card-title">North American Power</h5>
                  <p class="card-text">As a member of NAP's Enrollment Website Redesign team, I designed and then
                    implemented many parts of the new site.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Drupal (7), PHP, JS, SCSS</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../assets/img/portfolio/DORG/DORG_550x212.jpg" alt="DiscoverOrg">
                <div class="card-body">
                  <h5 class="card-title">DiscoverOrg</h5>
                  <p class="card-text">I helped DiscoverOrg completely replace their existing web application with a
                    brand-new front end. The site is significantly faster, and it is completely responsive. </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Angular, PHP, JS, SCSS</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../assets/img/portfolio/WSJ/WSJ_550x212.jpg" alt="WSJ Wine">
                <div class="card-body">
                  <h5 class="card-title">WSJ Wine</h5>
                  <p class="card-text">This is one of four separate e-commerce sites. As a front end developer, I
                    implemented required functionality. I also created mobile versions of each site.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Oracle ATG, jQuery, SCSS</small>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
</div>
