<section id="portfolio">
  <div class="container-fluid p-0">
    <!-- <div class="row no-gutters"> -->
    <div class="row no-gutters">
      <div class="col-lg-11 col-sm-6">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="../assets/img/portfolio/NAP/fs/NAP_750px.jpg">
            <img class="img-fluid" src="../assets/img/portfolio/NAP/tn/NAP_750px.jpg" alt="">
            <div class="portfolio-box-caption">
              <!-- <div class="project-category text-white-50">
                Category
              </div> -->
              <div class="project-name">
                North American Power
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="../assets/img/portfolio/DORG/fs/DORG_750px.jpg">
            <img class="img-fluid" src="../assets/img/portfolio/DORG/tn/DORG_750px.jpg" alt="">
            <div class="portfolio-box-caption">
              <!-- <div class="project-category text-white-50">
                Category
              </div> -->
              <div class="project-name">
                DiscoverOrg
              </div>
            </div>
          </a>
        </div>
        <!-- <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../assets/img/portfolio/TPF/fs/TPF_750px.jpg">
          <img class="img-fluid" src="../assets/img/portfolio/TPF/tn/TPF_750px.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Category
            </div>
            <div class="project-name">
              Project Name
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../assets/img/portfolio/CTM/fs/CTM_750px.jpg">
          <img class="img-fluid" src="../assets/img/portfolio/CTM/tn/CTM_750px.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Category
            </div>
            <div class="project-name">
              Project Name
            </div>
          </div>
        </a>
      </div> -->
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="../assets/img/portfolio/WSJ/fs/WSJ_750px.jpg">
            <img class="img-fluid" src="../assets/img/portfolio/WSJ/tn/WSJ_750px.jpg" alt="">
            <div class="portfolio-box-caption">
              <!-- <div class="project-category text-white-50">
                Category
              </div> -->
              <div class="project-name">
                WSJ Wine
              </div>
            </div>
          </a>
        </div>
        <!-- <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="../assets/img/portfolio/HINH/fs/HINH_750px.jpg">
          <img class="img-fluid" src="../assets/img/portfolio/HINH/tn/HINH_750px.jpg" alt="">
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">
              Category
            </div>
            <div class="project-name">
              Project Name
            </div>
          </div>
        </a>
      </div> -->
      </div>
    </div>
  </div>
</section>
