@import '../../src/sass/variables';
@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

#resume {
  hr.divider {
    border-color: $white;
  }

  .card-nav-tabs {
    .card-header {
      @include media-breakpoint-only(xs) {
        padding: 0.75rem 0.25rem;
      }

      .nav-link {
        padding: 0.5rem;
      }
    }
  }
}
