@import '../../src/sass/variables';
@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

#resume {
  hr.divider {
    border-color: $white;
  }

  .card-nav-tabs {
    .card-header {
      @include media-breakpoint-only(xs) {
        padding: 0.75rem 0.25rem;
      }

      .nav-link {
        padding: 0.5rem;
      }
    }

    .card-body {
      @include media-breakpoint-only(xs) {
        padding: 0.5rem;
      }
      overflow: scroll;
      overflow: -moz-scrollbars-vertical;
      height: 35vh;

      .container {
        padding-left: 0;
        padding-right: 0;
        // overflow: scroll;
        // height: 35vh;

        // h1,
        // h2,
        // h3,
        // h4,
        // h5 {
        //   margin-bottom: 0;
        // }
        h1:first-of-type,
        h4,
        h5 {
          margin-bottom: 0;
        }

        h4 {
          margin-top: 0.5rem;

          &:first-of-type {
            @include media-breakpoint-only(xs) {
              margin-top: 0.25rem;
            }
          }

          span {
            font-size: 1rem;
            font-style: italic;
            font-weight: 300;
            @include media-breakpoint-only(xs) {
              display: none;
            }
          }

        }

        h5 {
          span {
            font-size: 1rem;
            font-style: italic;
            font-weight: 300;
            @include media-breakpoint-only(xs) {
              display: none;
            }
          }
        }

        h6 {
          font-style: italic;
          font-weight: 400;
        }

        p {
          margin-bottom: 0.5rem;

          &:first-of-type {
            @include media-breakpoint-only(xs) {
              margin-bottom: 0;
            }
          }
        }
      }

      #cover-ltr {
        p {
          margin-bottom: 1rem;
          line-height: 1.2;

          // &:first-of-type {
          //   @include media-breakpoint-only(xs) {
          //     margin-bottom: 0;
          //   }
          // }
        }

      }
    }
  }
}
