<!DOCTYPE html>
<!-- <section class="page-section bg-primary text-white" id="resume"> -->
<section class="page-section bg-primary" id="resume">
  <div class="container-fluid">
    <!-- <div class="container"> -->
    <h1 class="text-center mt-0 text-white">Documents</h1>
    <hr class="divider my-4 text-white">


    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-8 col-xl-7">


        <!-- Tabs with icons on Card -->
        <div class="card card-nav-tabs">
          <div class="card-header card-header-primary">
            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <span class="nav-link active" href="#resumeT" data-toggle="tab">
                      <i class="fas fa-1x fa-book"></i>
                      Resume
                    </span>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link" href="#cover-ltr" data-toggle="tab">
                      <i class="fas fa-1x fa-file-word"></i>
                      Cover Letter
                    </span>
                  </li>
                  <!-- <li class="nav-item">
                    <span class="nav-link" href="#code" data-toggle="tab">
                      <i class="fas fa-1x fa-laptop-code"></i>
                      Code
                    </span>

                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="tab-content text-left">
              <div class="tab-pane container active" id="resumeT">
                <h1>Skills</h1>
                <p>jQuery, JavaScript, Drupal, Foundation, AngularJS, NodeJS, HTML5, CSS3, Sass/SCSS, AJAX, REST, JSON, PHP, Java, MySQL, Webpack.
                </p>
                <h1>Experience</h1>
                <h4>Freelance Web Developer <span>(3/08&ndash;Present)</span></h4>
                <h6>Full Stack Web Developer</h6>
                <p>Environment: Single developer.</p>
                <p>Tools: Atom, VS Code, Git, Affinity Photo, MySQL Workbench, Sequel Pro, NodeJS, Grunt, Homebrew.</p>
                <p>I have expertise with both front&ndash;end and back&ndash;end technologies and languages.</p>
                <p>I'm experienced with the full development life cycle from design to implementation, testing, and deployment. I apply SEO, web security and performance standards and best practices wherever possible.</p>
                <p>I've done everything from developing and implementing a user management system in PHP/MySQL to creating a WordPress widget to read and display data from streaming music providers. One wears many different hats!</p>
                <p>Technologies: jQuery, JavaScript, AngularJS, AJAX, REST, JSON, HTML5, CSS3, Sass/SCSS, PHP, Java, MySQL, MariaDB.</p>

                <h4>North American Power <span>(4/17&ndash;12/17)</span></h4>
                <h6>Full Stack Drupal Web Developer </h6>
                <p>Environment: Agile full&ndash;stack development on a team of 4&ndash;6 with pair programming, code reviews, integration, and refactoring.</p>
                <p>Tools: Atom, PHPStorm, Sublime, Git, MySQL Workbench, NodeJS, Grunt, Homebrew, Affinity Photo.</p>
                <p>I was responsible for the look and feel of NAP's enrollment website redesign. I did everything from working on visual design elements to Sass/SCSS authoring, updates and refactoring. I also wrote a lot of JavaScript to provide
                  various functionality. This was using Foundation 6 and Drupal 7.</p>
                <p>I helped select and then implement tools and technologies to support business needs.</p>
                <p>I also participated in daily scrum meetings and made suggestions to improve code efficiency and readability while reducing redundancy</p>
                <p>Technologies: Drupal, Foundation, jQuery, AJAX, JSON, HTML5, CSS3, Sass/SCSS, PHP, and MySQL.</p>

                <h4>DiscoverOrg <span>(6/14&ndash;9/15)</span></h4>
                <h6>Senior Software Engineer</h6>
                <p>Environment: Agile full&ndash;stack development on a team of 4&ndash;6 with pair programming, continuous integration, unit testing, and refactoring.</p>
                <p>Tools: IntelliJ IDEA, Compass, Grunt, Bower, NPM, Gradle, Sublime, MySQL Workbench, Git, Gitlab, Adobe Fireworks, Adobe Photoshop, Homebrew.</p>
                <p>I was involved in the entire DiscoverOrg 2.0 software development life cycle, end to end. I was responsible for the look and feel of the new site, which included selecting and then implementing appropriate technologies to
                  produce
                  the desired behaviors.</p>
                <p>I created new Angular views in HTML and SCSS along with required models and controllers in JavaScript. I both consumed existing Java APIs and wrote my own.</p>
                <p>I maintained the existing application and fixed a host of assorted issues. I also refactored JavaScript, PHP, PERL, HTML, and CSS to improve the look, feel, functionality, and performance.</p>
                <p>Technologies: AngularJS, ng&ndash;Bootstrap, Sass/SCSS, REST, AJAX, JSON, Java.</p>

                <h1>Education</h1>
                <h5>Quinnipiac University<span>, Hamden, CT</span></h5>
                <p>M.S. in Interactive Media</p>
                <h5>Albertus Magnus College<span>, New Haven, CT</span></h5>
                <p>B.S. in Management Information Systems, minor in English/Creative writing</p>
              </div>
              <div class="tab-pane container fade" id="cover-ltr">
                <h1>Hi there!</h1>
                <p>I&rsquo;m a full&ndash;stack web developer with experience in as many technologies as I can find the time to learn.</p>
                <p>I&rsquo;ve been gaining experience with Angular 7/Angular&ndash;cli, starting with my website and a side project I&rsquo;m working on&ndash; although I continue to use Angular 1 on a couple of projects that don&rsquo;t currently
                  warrant updates to ng&ndash;2. I&rsquo;m still working a lot with jQuery and vanilla JavaScript in addition to Bootstrap 4 and SCSS on the front end. I&rsquo;m now using PHP 7 on the back end, and I am connecting to MariaDB
                  databases. Of course, I also use all
                  of the associated technologies that are available, like Grunt, Bower, NPM, Git for version control, etc.
                </p>
                <p>I think responsive (and these days mobile&ndash;first) design is an absolute must given the amount of web traffic that comes from mobile devices, so I&rsquo;ve used Mobify.js, Bootstrap's built&ndash;in (and awesome) breakpoints
                  (and now Foundation&rsquo;s... which I think I&rsquo;m starting to like better than Bootstrap), HTML5 Boilerplate, or just CSS3 media queries to make sure everything I am involved with renders beautifully across as many devices as
                  possible.
                  Well, ok, lately I've used Bootstrap 4 pretty exclusively.
                </p>
                <p>I have a strong eye for design and exacting attention to detail. I&rsquo;m the guy whose eyes go immediately to the typo or the often&ndash;misused &ldquo;there&rdquo;, &ldquo;they&rsquo;re&rdquo;, &ldquo;its&rdquo;,
                  &ldquo;it&rsquo;s&rdquo;, or the image that is just one pixel misaligned. These
                  things drive me nuts! I do tend to spend a not&ndash;insignificant amount of time finding and fixing these things. I suppose this makes me a bit of a perfectionist. I HAVE annoyed my fair share of QA engineers, who, after looking
                  at the same thing for weeks, months, or even years just don't see them anymore.</p>
                <p>I also find that working with others is tremendously rewarding, and the value of another pair of eyes can't be overstated! I have been guilty myself of missing something immediately obvious to another, simply because I&rsquo;ve
                  been staring at it for far too long.
                </p>
              </div>
              <!-- <div class="tab-pane container fade" id="code">
                <p>Aenean nec purus faucibus, pretium ligula non, accumsan libero. Vestibulum gravida tristique dolor sit amet dapibus. Vivamus consectetur lorem eu libero rhoncus viverra. Morbi a ultricies massa, quis blandit magna. Quisque ac
                  sapien vel tortor blandit feugiat nec a magna. Sed vulputate elit in dapibus ultricies. Proin ut tincidunt lorem.</p>
              </div> -->
            </div>
          </div>
        </div>

        <!-- <div class="row" id="top-row">
                <div class="col-xs-6 col-lg-3 text-center">
                    <div class="mt-5">
                        <a href="#" id="resumePDF"><i class="fas fa-3x fa-book mb-4"></i>
              <h3 class="h5 mb-2">Resume</h3>
            </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 text-center">
                    <div class="mt-5">
                        <a href="#" id="coverLetter"><i class="fas fa-3x fa-file-word mb-4"></i>
              <h3 class="h5 mb-2">Cover Letter</h3>
            </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 text-center">
                    <div class="mt-5">
                        <a href="#" id="codeSamples"><i class="fas fa-3x fa-laptop-code mb-4"></i>
              <h3 class="h5 mb-2">Code Samples</h3>
            </a>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-3 text-center">
                    <div class="mt-5">
                        <a href="#" id="qa"><i class="fas fa-3x fa-comments mb-4"></i>
              <h3 class="h5 mb-2">Q &amp; A</h3>
            </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="hidden-row" class="row mt-5">

                <div class="col-lg-11 col-sm-6">
                    <div id="item-to-display">
                        <div class="embed-responsive embed-responsive-1by1">
                            <object class="embed-responsive-item" data="../assets/pdf/Sean_Mandable_Resume.pdf#toolbar=1" type="application/pdf" width="100%" height="100%">
                <p>It appears your Web browser is not configured to display PDF files. No worries, just
                  <a href="../assets/pdf/Sean_Mandable_Resume.pdf">click here</a> to download the PDF file.
                  <! <a href="drive.google.com/[drive path]/view?usp=sharing"> click here to
                  <! view</a>-->
        <!--  </p>
          </object>
        </div>
      </div> -->
      </div>
    </div>
    <!-- </div> -->

    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <p class="mb-0">These will open in modal windows, but you can download the Word doc here!</p>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <p class="mb-0">More about me</p>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <p class="mb-0">Frequently updated, always changing!</p>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <p class="mb-0">I didn't want to do this when it was given to me!</p>
        </div>
      </div>
    </div> -->
  </div>
</section>
