	<div class="main-wrapper">
		<section class="cta-section theme-bg-light py-5">
		  <div class="container text-center single-col-max-width">
		    <h2 class="heading mb-3">Online Resume</h2>
		    <a class="btn btn-primary"
		      href="../assets/pdf/sean-mandable-resume.pdf"
		      ><svg class="svg-inline--fa fa-file-pdf fa-w-12 mr-2" aria-hidden="true" focusable="false"
		        data-prefix="fas" data-icon="file-pdf" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
		        data-fa-i2svg="">
		        <path fill="currentColor"
		          d="M181.9 256.1c-5-16-4.9-46.9-2-46.9 8.4 0 7.6 36.9 2 46.9zm-1.7 47.2c-7.7 20.2-17.3 43.3-28.4 62.7 18.3-7 39-17.2 62.9-21.9-12.7-9.6-24.9-23.4-34.5-40.8zM86.1 428.1c0 .8 13.2-5.4 34.9-40.2-6.7 6.3-29.1 24.5-34.9 40.2zM248 160h136v328c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V24C0 10.7 10.7 0 24 0h200v136c0 13.2 10.8 24 24 24zm-8 171.8c-20-12.2-33.3-29-42.7-53.8 4.5-18.5 11.6-46.6 6.2-64.2-4.7-29.4-42.4-26.5-47.8-6.8-5 18.3-.4 44.1 8.1 77-11.6 27.6-28.7 64.6-40.8 85.8-.1 0-.1.1-.2.1-27.1 13.9-73.6 44.5-54.5 68 5.6 6.9 16 10 21.5 10 17.9 0 35.7-18 61.1-61.8 25.8-8.5 54.1-19.1 79-23.2 21.7 11.8 47.1 19.5 64 19.5 29.2 0 31.2-32 19.7-43.4-13.9-13.6-54.3-9.7-73.6-7.2zM377 105L279 7c-4.5-4.5-10.6-7-17-7h-6v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-74.1 255.3c4.1-2.7-2.5-11.9-42.8-9 37.1 15.8 42.8 9 42.8 9z">
		        </path>
		      </svg><!-- <i class="fas fa-file-pdf mr-2"></i> -->Download PDF Version</a>


		  </div>
		  <!--//container-->
		</section>
	  <div id="resume" class="container px-3 px-lg-5">
	    <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

	      <div class="resume-header">
	        <div class="row align-items-center">
	          <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
	            <h2 class="resume-name mb-0 text-uppercase">Sean Mandable</h2>
	            <div class="resume-tagline mb-3 mb-md-0">Senior Software Engineer</div>
	          </div>
	          <!--//resume-title-->
	          <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
	            <ul class="list-unstyled mb-0">
	              <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link"
	                  href="tel:#">(203) 906-8888</a></li>
	              <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a class="resume-link"
	                  href="mailto:#">sean@seanmandable.me</a></li>
	              <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a class="resume-link"
	                  href="#resume">www.seanmandable.me</a></li>
	              <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Monroe, CT</li>
	            </ul>
	          </div>
	          <!--//resume-contact-->
	        </div>
	        <!--//row-->

	      </div>
	      <!--//resume-header-->
	      <hr>
	      <div class="resume-intro py-3">
	        <div class="media flex-column flex-md-row align-items-center">
	          <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto"
	            src="../assets/img/profile-sm-bw.png" alt="Profile picture">
	          <div class="media-body text-left">

	            <p>I&rsquo;m a full stack developer with experience building web applications using the latest
	              technologies. I like learning new things! I have expertise with both front and back end technologies and
	              languages.</p>
	            <p class="mb-0">With a strong eye for design and exacting attention to detail, I&rsquo;m the one whose
	              eyes immediately go to the typo or the often&ndash;misused &ldquo;there&rdquo;,
	              &ldquo;they&rsquo;re&rdquo;,
	              &ldquo;its&rdquo;,
	              &ldquo;it&rsquo;s&rdquo;&mdash;
	              or the image that is just <em>one</em> pixel misaligned.</p>

	          </div>
	          <!--//media-body-->
	        </div>
	      </div>
	      <!--//resume-intro-->
	      <hr>
	      <div class="resume-body">
	        <div class="row">
	          <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
	            <section class="work-section py-3">
	              <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
	              <div class="item mb-3">
	                <div class="item-heading row align-items-center mb-2">
	                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Software Engineer</h4>
	                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Freelance | 2008 -
	                    Present</div>
	                </div>
	                <div class="item-content">
	                  <p>I'm experienced with the full development life cycle from design to implementation, testing, and
	                    deployment. I apply SEO, web security and performance standards and best practices wherever
	                    possible. I've done everything from developing and implementing a user management system in
	                    PHP/MySQL to creating a WordPress widget to read and display data from streaming music providers.
	                    One wears many
	                    different hats!</p>
	                </div>
	              </div>
	              <!--//item-->
	              <div class="item mb-3">
	                <div class="item-heading row align-items-center mb-2">
	                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Drupal Web Developer</h4>
	                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">North American
	                    Power | 2017</div>
	                </div>
	                <div class="item-content">
	                  <p>I was responsible for the look and feel of NAP's enrollment website redesign. I did everything
	                    from working on visual design elements to Sass/SCSS authoring, updates and refactoring. I
	                    wrote a lot of JavaScript to provide various functionality. This was using Foundation 6 and Drupal
	                    7. I helped select and then implement tools and technologies to support business needs.
	                    I also participated in daily scrum meetings and worked to improve code efficiency and
	                    readability while reducing redundancy.</p>
	                </div>
	              </div>
	              <!--//item-->
	              <div class="item mb-3">
	                <div class="item-heading row align-items-center mb-2">
	                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Software Engineer</h4>
	                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">DiscoverOrg | 2014
	                    -
	                    2016</div>
	                </div>
	                <div class="item-content">
	                  <p>I was involved in the entire DiscoverOrg 2.0 software development life cycle, end to end. I was
	                    responsible for the look and feel of the new site, which included selecting and then implementing
	                    appropriate technologies to produce the desired behaviors. I created new Angular views in HTML and
	                    SCSS along with required models and controllers in
	                    JavaScript. I both consumed existing Java APIs and wrote my own. I maintained the existing
	                    application and fixed a host of assorted issues. I also refactored
	                    JavaScript, PHP, PERL, HTML, and CSS to improve the look, feel, functionality, and performance.</p>
	                </div>
	              </div>
	              <!--//item-->
	              <!-- <div class="item">
	                <div class="item-heading row align-items-center mb-2">
	                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Developer</h4>
	                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Uber | 2013 - 2014
	                  </div>

	                </div>
	                <div class="item-content">
	                  <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
	                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus. </p>
	                </div>
	              </div> -->
	              <!--//item-->

	            </section>
	            <!--//work-section-->

	            <section class="project-section py-3">
	              <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
	              <div class="item mb-3">
	                <div class="item-heading row align-items-center mb-2">
	                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Sean's MovieDB</h4>
	                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>

	                </div>
	                <div class="item-content">
	                  <p>This is an Angular/PHP/MySQL application to track my movie library. It lists movie titles, along
	                    with their duration, dimensions, and file size. It will fix filenames on disk to be in title case,
	                    move duplicate files, and a lot more. I'd call this a "minimally viable product" at this point.
	                  </p>


	                </div>
	              </div>
	              <!--//item-->
	              <div class="item">
	                <div class="item-heading row align-items-center mb-2">
	                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">deObfuscate</h4>
	                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>

	                </div>
	                <div class="item-content">
	                  <p>Fixes obfuscated filenames by renaming them to the name of the directory they are contained in.

	                    A directory named "ShowTitle.S01E01.1080p.HDTV.x264-AVS" containing a file named
	                    "a3ab184be5744a499595d0cb3ac5b160.mp4"
	                    would result in a file named "ShowTitle.S01E01.mp4" with the parent directory removed.

	                    <!-- The script will also find and remove common patterns in said directory name, like "1080p", "720p", "x264", "DVDRip", etc.

	                    It'll work on however many folders you put in the directory it's working in (I've got a
	                    "de-obfuscate" folder I use), and will delete the original folders- so you'll be left with
                      nothing but the re-named files. -->
	                  </p>

	                </div>
	              </div>
	            </section>
	            <!--//project-section-->
	          </div>
	          <!--//resume-main-->
	          <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
	            <section class="skills-section py-3">
	              <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
	              <div class="item">
	                <h4 class="item-title">Technical</h4>
	                <ul class="list-unstyled resume-skills-list">
	                  <li class="mb-2">JavaScript/Angular/jQuery</li>
	                  <li class="mb-2">PHP</li>
	                  <li class="mb-2">HTML &amp; CSS</li>
	                  <li class="mb-2">Sass/SCSS</li>
	                  <li class="mb-2">npm/Grunt</li>
	                  <li class="mb-2">MySQL</li>
	                  <li>Design &amp; user experience</li>
	                </ul>
	              </div>
	              <!--//item-->
	              <div class="item">
	                <h4 class="item-title">Professional</h4>
	                <ul class="list-unstyled resume-skills-list">
	                  <li class="mb-2">Effective communication</li>
	                  <li class="mb-2">Attention to detail</li>
	                  <li>Quick learner</li>
	                </ul>
	              </div>
	              <!--//item-->
	            </section>
	            <!--//skills-section-->
	            <section class="education-section py-3">
	              <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
	              <ul class="list-unstyled resume-education-list">
	                <li class="mb-3">
	                  <div class="resume-degree font-weight-bold">MS in Interactive Media</div>
	                  <div class="resume-degree-org text-muted">Quinnipiac University</div>
	                </li>
	                <li>
	                  <div class="resume-degree font-weight-bold">BS Management Info. Sys.</div>
	                  <div class="resume-degree-org text-muted">Albertus Magnus College</div>
	                </li>
	              </ul>
	            </section>
	            <!--//education-section-->

	            <section class="skills-section py-3">
	              <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
	              <ul class="list-unstyled resume-interests-list mb-0">
	                <li class="mb-2">Long-distance Hiking</li>
	                <li class="mb-2">Skiing</li>
	                <li>Travelling</li>
	              </ul>
	            </section>
	            <!--//certificates-section-->

	          </aside>
	          <!--//resume-aside-->
	        </div>
	        <!--//row-->
	      </div>
	      <!--//resume-body-->
	      <hr>
	      <div class="resume-footer text-center">
	        <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
	          <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="http://www.github.com/smandable"
	              target="_blank"><i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i><span
	                class="d-none d-lg-inline-block text-muted">github.com/smandable</span></a></li>
	          <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link"
	              href="https://www.linkedin.com/in/sean-mandable-2190206/" target="_blank"><i
	                class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span
	                class="d-none d-lg-inline-block text-muted">linkedin.com/in/sean-mandable-2190206/</span></a></li>
	        </ul>
	      </div>
	      <!--//resume-footer-->
	    </article>

	  </div>
	  <!--//container-->

	</div>
	<!--//main-wrapper-->
