<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 bg-image lazyloaded" data-bg="./assets/img/main-preview.jpg">
      <div class="inner">
        <div class="title">
          <div class="pull-left">
            <!-- <h1>Hello. My name is Sean Mandable and I&rsquo;m a web developer in Connecticut.</h1> -->
          </div>
        </div>
        <div class="secondary-title">
          <div class="pull-left secondary-text">
            <h2>(Henry helps when he can!)</h2>
          </div>
        </div>
        <div class="bg-image-inner"></div>
      </div>
    </div>
  </div>
</div>