<!DOCTYPE html>
<section class="page-section" id="home">
    <div class="container-fluid">
        <div class="row h-50 align-items-left text-left">
            <div class="col-sm-6 align-self-end">
                <div class="col-xs-12 align-self-end">
                    <!-- <div class="col-xs-3 col-sm-12 align-self-end"> -->
                    <h1 class="text-white">Hello. My name is Sean Mandable and I&rsquo;m a web developer in Connecticut.</h1>
                    <p class="text-white-75 font-weight-bold mb-4">(Henry helps when he can!)</p>
                    <!-- </div> -->
                </div>
                <div class="col-xs-12 align-self-baseline">
                    <div class="hr-parent">
                        <hr class="divider mb-4">
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>